<h2 data-page-id="<%= @page.id %>"><%= @page.title %></h2>


<div>
  <%= wiki_to_html(@page.body) %>
</div>

<hr>

<%= render Wiki.CommentView,
    "index.html",
    conn: @conn,
    page: @page,
    comments: @page.comments %>

<br>

<hr>

<%= link "Edit", to: page_path(@conn, :edit, @page) %>
<br>
<%= link "Back", to: page_path(@conn, :index) %>
<br>
